---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import Pill from '../components/Pill.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import NotionIcon from '../components/icons/Notion.astro'
import GmailIcon from '../components/icons/Gmail.astro'
---

<Layout title="Eduardo's portfolio | Front End Developer" description='Front End Developer with +3 experience years.'>
  <main>
    <section class='my-40 mx-auto w-[90vw] max-w-[768px]'>
      <h1 class='text-5xl font-bold flex items-center gap-5'>
        Hi, Im Eduardo!

        <a
          class='flex items-center'
          href='https://www.linkedin.com/in/carlos-eduardo-garcia-enriquez/'
          target='_blank'
          rel='noopener noreferrer'
        >
          <Badge>Aviable for hire</Badge>
        </a>
      </h1>
      <h2 class='text-2xl mt-5 text-wrap'>
        Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, eveniet maxime, mollitia eum totam
        cum ullam veritatis quod, unde expedita iste consectetur eligendi culpa fugit reprehenderit pariatur. Numquam,
        reprehenderit iste.
      </h2>
      <div class='mt-4 flex flex-row gap-x-2 items-center'>
        <Pill href='https://www.linkedin.com/in/carlos-eduardo-garcia-enriquez/'>
          <LinkedInIcon class='w-4 h-4' /> Lined In
        </Pill>
        <Pill href='https://github.com/EduardoGarciaEnriquez'>
          <GitHubIcon class='w-4 h-4' /> GitHub
        </Pill>
        <Pill href='https://autumn-lemonade-dc4.notion.site/Eduardo-Garc-a-ec3372b1707947a4b26464f3bc1f1790?pvs=4'>
          <NotionIcon class='w-4 h-4' /> Notion
        </Pill>
        <Pill href='https://garciaenriquez.carloseduardo@gmail.com'>
          <GmailIcon class='w-4 h-4' /> Gmail
        </Pill>
      </div>
    </section>
  </main>
</Layout>
