---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<html lang='en' class='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class='bg-[radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] bg-fixed'
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    color-scheme: dark light;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
